.flex {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  height: 14vh;
}

.box {
  box-shadow: 0 0 1em #466787;
  text-align: center;
}

textarea {
  width: 600px;
  height: 200px;
}

.boxLinks {
  box-shadow: 0 0 1em #466787;
}

.bb {
  margin: 10px;
}
